* {
  transition: all 120ms ease;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 1;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
  }
}
a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
a:hover {
  color: red;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow: hidden;
}

html {
  font-family: "Ysabeau Office";
  background-color: black;
  cursor: url("https://raw.githubusercontent.com/coob113/fancy-cursors/master/bold1.png")
      64 64,
    auto !important;
}
a {
  cursor: url("https://raw.githubusercontent.com/coob113/fancy-cursors/master/bold2.png")
      64 64,
    auto !important;
}
